/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.nav-logo p {
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
    cursor: pointer;
    font-size: 18px;
}

.nav-menu li:hover {
    text-decoration: underline;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    position: relative; /* Required for absolute positioning of the cart count */
}

.nav-login-cart button {
    margin-right: 15px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.nav-login-cart button:hover {
    background-color: #777;
}

.nav-login-cart img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.nav-cart-count {
    position: absolute;
    top: -7px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 7px;
    height: 7px;
}
